/* Write your CSS code here */
.home-container {
  color: blueviolet;
  font-size: 30px;
  font-family: 'roboto';
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
